<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-leisure-time-cinema-watching-movie-background-image_195506.jpg);">
    <h1>Save any kind of Movies</h1>
</div>
<div class="cards-header">
  <h2>My lists</h2>
  <%= link_to "Add a new list", new_list_path, class:"btn btn-success mb-3" %>
</div>
<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-photo/movie-background-collage_23-2149876028.jpg)">
      <div class="card-tags">
        <%= link_to "Show list", list_path(list), class:"btn btn-primary" %>
        <%= link_to "Delete", list_path(list), class:"btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the #{list.name} list?"} %>
      </div>
      <div class="card-text-title">
        <%= list.name %>
      </div>
    </div>
  <%end %>
</div>
